---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import orders from "../data/orders.json";
import { OrderTable } from "../components/OrderTable";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

const email = data?.user?.email;
const name = data?.user?.user_metadata?.name;
const fullName = data?.user?.user_metadata?.full_name;
const avatar = data?.user?.user_metadata?.avatar;

// const pedidos = await supabase
//   .from("pedidos")
//   .select("*")
//   .eq("email", email)
//   .order("created_at", { ascending: false });
---

<Layout title="Área cliente">
  <!-- <h1>Bienvenido {hola}</h1>
  <p>Estamos felices de verte aquí</p>
  <form action="/api/auth/signout">
    <button type="submit">Cerrar sesión</button>
  </form> -->

  <section>
    <div
      class="bg-[#450408] text-[#FFE6BB] w-4/5 mx-auto my-20 rounded px-12 py-14"
    >
      <article class="flex justify-between">
        <img src={avatar} alt="Avatar" class="w-20 h-20 rounded-full" />
        <div>
          <h2>{fullName}</h2>
          <p>{email}</p>
          <form action="/api/auth/signout">
            <button type="submit">Cerrar sesión</button>
          </form>
        </div>
      </article>
      <article class="mt-10 flex flex-col justify-center">
        <h2>Pedidos</h2>
        <p>En esta sección podrás ver tus pedidos</p>
        <!-- <OrderTable orders={orders} /> -->
      </article>
    </div>
  </section>

  <Footer class="bg-[#450408] text-[#FFE6BB]" />
</Layout>
